/* Global css */
@charset "utf-8";

$primary: #5cdb95;

html {
  background-color: #fbfdfb;
}

.pointer {
  cursor: pointer;
}

.icon,
h1,
h2,
h3,
h4,
h5 {
  vertical-align: middle;
}

#transfer-form .select {
  width: 100%;
}

table {
  border: 1px solid #eee;
  box-shadow: 4px 4px 2px -2px #eee;
}

.result-table {
  table {
    border: none;
    box-shadow: none;
  }
}

.button-box-row {
  .button-box {
    height: 100%;
    cursor: pointer;
  }

  .button-box.box-primary {
    background-color: $primary;
  }

  .button-box:hover {
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.25),
      0 0px 0 1px rgba(10, 10, 10, 0.05);
  }
}

@import "~bulma/bulma";
