/* Global css */
@charset "utf-8";

$primary: #5cdb95;

html {
  background-color: #fbfdfb;
}

.pointer {
  cursor: pointer;
}

.icon,
h1,
h2,
h3,
h4,
h5 {
  vertical-align: middle;
}

#transfer-form .select {
  width: 100%;
}

@import "~bulma/bulma";
